<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Transaction</title>
</head>

<body>
    <h3 class="text-center" style="font-size: 3.05rem;">Perform Transaction</h3>
    <form name="myForm" style="width: 450px; margin: auto;">

        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" name="amount" class="form-control" ng-model="vm.transactionDetails.Amount"
                ng-required="true">
            <span style="color:red" ng-show="myForm.amount.$touched && myForm.amount.$invalid">
                Please enter amount for transaction
            </span>
        </div>
        <div class="form-group">
            <input type="radio" name="Type" value="D" ng-model="vm.transactionDetails.TransactionType">
            <label for="depositRadioBtn" class="radio-inline"><b>Deposit</b></label>
            <input type="radio" name="Type" value="W" ng-model="vm.transactionDetails.TransactionType">
            <label for="withdrawRadioBtn" class="radio-inline"><b>Withdraw</b></label>
        </div>

        <div class="form-group">
            <button ng-click="doTransaction()" class="btn btn-default">Do Transaction</button>
        </div>

        <div>
            <p ngClass="vm.class" ng-style="vm.style">{{vm.requestMessage}}</p>
        </div>

    </form>
</body>

</html>